extends layout

block content
  h2= `${rqid}번 의뢰에 대한 완료 요청`

  table
    thead
      tr
        th 프리랜서 ID
        th 결과 보고서
        th 완료 요청
    tbody
      for report in reports
        tr
          td= report.fid
          td= report.rfile
          td
            button.btn(type='submit') 수락
            a.btn(href=`/client/report/${report.rid}/decline`) 거부