extends layout

block content
  h2 팀 생성
  form#create-form(action='/team/create' method='post')
    .input-group
      label(for='tname') 팀 이름
      input#tname(name='tname' required autofocus)

    .input-group
      label(for='memberId') 팀원 ID
      input#memberId(name='memberId' required)
    button#create.btn(type='submit') 팀 생성
    if createError
      .error-message= createError