extends layout

block content
  h2 의뢰 문서 등록
  p 문서 추가는 10개까지만 가능합니다
  form(action=`/client/register/document/${rqid}` method='post' enctype='multipart/form-data')
    #doc-list
      input(type='file' name='document' required)
    a#append-doc.btn 문서추가
    button.btn(type='submit') 의뢰 등록
block script
  script.
    document.querySelector('#append-doc').addEventListener('click', e => {
      if(document.querySelector('#doc-list').childElementCount >= 10) return;
      var fileInput = document.createElement('input');
      fileInput.type = 'file';
      fileInput.name = 'document';
      document.querySelector('#doc-list').appendChild(fileInput);
    });